[tool.poetry]
name = "seaport"
version = "0.3.1"
description = "A more mighty port bump"
authors = ["harens <harensdeveloper@gmail.com>"]
maintainers = ["harens <harensdeveloper@gmail.com>"]
readme = "README.md"
license = "MIT"
include = ["seaport/py.typed"]
keywords = ["MacPorts", "Port", "Bump", "Checksums"]
classifiers = [
  "Natural Language :: English",
  "Operating System :: OS Independent",
  "Intended Audience :: Developers",
  "Typing :: Typed"
]

homepage = "https://github.com/harens/seaport"
repository = "https://github.com/harens/seaport"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/harens/seaport/issues"

[tool.poetry.dependencies]
python = "^3.8"
click = "^7.1.2"

[tool.poetry.dev-dependencies]
pytest = "^6.2.1"
black = "^20.8b1"
isort = "^5.7.0"
mypy = "^0.790"
pytest-subprocess = "^1.0.0"
pytest-mock = "^3.5.0"
pytest-cov = "^2.10.1"
coverage = "^5.3.1"
pylint = "^2.6.0"
pydocstyle = "^5.1.1"
flake8 = "^3.8.4"

[tool.poetry.scripts]
seaport = "seaport.init:seaport"

[tool.coverage.run]
branch = true

[tool.coverage.report]
show_missing = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

